body {
    padding: 10pt;
    padding-left: 20pt;
    text-align: center;
    font-family: sans-serif, "Microsoft JhengHei","Heiti TC";
    font-size: 16px;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("/public/images/wood.jpg");
}

#activity {
    height: 475pt;
    width: 250pt;
    float: left;
    padding: 5pt;
    padding-top: 0;
}
#activityTitle {
    margin: 10pt 0 10pt 0;
    font-size: 20pt;
}
#activityDescription {
    padding: 5pt 5pt 0 10pt;
    margin: -3pt 0 5pt 0;
    width: 100%;
    height: 75pt;
}
#controller {
    margin-left: 270pt;
    height: 35pt;
    width: 700pt;
    padding: 4pt;
}

#calendar {
    float:left;
    margin-left: 20pt;
    margin-top:30pt;
    height: 280pt;
    width: 420pt;
    padding:15pt 5pt 5pt 5pt;
}
#calendar ul.weekdays {
    height: 40px;
}
#calendar ul.weekdays li {
    line-height: 20px;
    padding: 10px 7px;
    font-size: 13px;
}
#calendar .msg{
    height:330pt;
}
#day{
    margin:-2px -3px 0 0;
    display: block;
}
.days {
    padding: 0pt 3pt;
    font-size: 5pt;
    height: 45px;
}
#monthLabel{
    margin-top: -41.5pt;
}
.activityOnCalendar{
    transform: translateY(6pt);
    width: 8pt;
    height: 8pt;
}

#chatboard {
    margin-top: 25pt;
    margin-left:710pt;
    width: 260pt;
    height: 415pt;
}
#chatsight{
    height:92%;
    padding:15pt 10pt 0 10pt;
}
#chatBox{
    margin:5pt 0pt 5pt 8pt;
    height:5%;
    width:90%;
}
#chatMsg{
    width: 100%;
}

#player {
    margin-top:-95pt;
    margin-left:270pt;
    width:420pt;
    height:95pt;
    padding: 5pt;
}
#playlist button{
    width:23px;
    height:33px;
    font-size: 20px;
}

@media screen and (max-width: 1300px){
    #activity {
        height: 475pt;
        width: 220pt;
        float: left;
        padding: 5pt;
        padding-top: 0;
    }
    #activityTitle {
        margin: 10pt 0 10pt 0;
        font-size: 20pt;
    }
    #activityDescription {
        padding: 5pt 5pt 0 10pt;
        margin: -3pt 0 5pt 0;
        width: 100%;
        height: 75pt;
        font-size:10pt;
    }
    #controller {
        margin-left: 240pt;
        height: 35pt;
        width: 650pt;
        padding: 4pt;
    }

    #calendar {
        float:left;
        margin-left: 20pt;
        margin-top:35pt;
        height: 280pt;
        width: 400pt;
        padding:15pt 5pt 5pt 5pt;
    }
    #player {
        margin-top:-95pt;
        margin-left:240pt;
        width:400pt;
        height:95pt;
        padding: 5pt;
    }
    #playlist button{
        width:20px;
        height:30px;
        font-size: 18px;
    }
    #calendar ul.weekdays {
        height: 40px;
    }
    #calendar ul.weekdays li {
        line-height: 20px;
        padding: 10px 7px;
        font-size: 13px;
    }
    #day{
        margin:-2px -3px 0 0;
        display: block;
    }
    .days {
        padding: 0pt 3pt;
        font-size: 5pt;
        height: 45px;
    }
    #monthLabel{
        margin-top: -41.5pt;
    }
    .activityOnCalendar{
        transform: translateY(6pt);
        width: 8pt;
        height: 8pt;
    }

    #chatboard {
        margin-top: 25pt;
        margin-left:650pt;
        width: 240pt;
        height: 415pt;
    }
    #chatsight{
        height:92%;
    }
    #chatBox{
        margin:5pt 0pt 5pt 8pt;
        height:5%;
        width:90%;
    }
    #chatMsg{
        width: 100%;
    }
}
@media screen and (max-width: 1220px){
    body{
        margin-left: 30pt;
    }
    #activity {
        height: 455pt;
        width: 200pt;
        float: left;
        padding: 5pt;
        padding-top: 0;
    }
    #activityTitle {
        margin: 10pt 0 10pt 0;
        font-size: 16pt;
    }
    #activityDescription {
        padding: 5pt 5pt 0 10pt;
        margin: -3pt 0 5pt 0;
        width: 100%;
        height: 75pt;
    }
    #controller {
        margin-left: 210pt;
        height: 35pt;
        width: 530pt;
        padding: 4pt;
    }
    #controller .button{
        width:80px;
        font-size: 5px;
        height:40px;
    }
    #calendar {
        float:left;
        margin-left: 10pt;
        margin-top:35pt;
        height: 280pt;
        width: 340pt;
        padding:15pt 5pt 5pt 5pt;
    }
    #player {
        margin-top:-95pt;
        margin-left:210pt;
        width:340pt;
        height:95pt;
        padding: 5pt;
        font-size:10px;
    }
    #calendar ul.weekdays {
        height: 40px;
    }
    #calendar ul.weekdays li {
        line-height: 20px;
        padding: 10px 7px;
        font-size: 13px;
    }
    #day{
        margin:-2px -3px 0 0;
        display: block;
    }
    .days {
        padding: 0pt 3pt;
        font-size: 5pt;
        height: 45px;
    }
    #monthLabel{
        margin-top: -41.5pt;
    }
    .activityOnCalendar{
        transform: translateY(6pt);
        width: 6pt;
        height: 6pt;
    }

    #chatboard {
        margin-top: 25pt;
        margin-left:560pt;
        width: 180pt;
        height: 395pt;
        font-size: 10px;
    }
    #chatsight{
        height:92%;
    }
    #chatBox{
        margin:5pt 0pt 5pt 8pt;
        height:5%;
        width:90%;
    }
    #chatMsg{
        width: 100%;
    }
}
@media screen and (max-width: 1120px){
    body{
        margin-left: 0pt;
    }
}
@media screen and (max-width: 1050px){
    body{
        margin-left: -10pt;
    }
}
span{
    font-family: "Microsoft JhengHei";
    font-weight: bold;
}
.float-right {
    float: right;
}

.float-left {
    float: left;
}
.right {
    text-align: right;
}

/* Activity */
#menu >a.active{
    font-weight: bold;
}
.timetag:active{
  transform: translate(1px,1px);
}
#activity {
    position: relative;
    display: block;
    overflow-y: scroll;
    text-align: left;
    background-color: pink;
    border-radius: 5pt;
}
#activityTitle {
    text-align: center;
    outline: none;
    text-decoration: underline;
}
#activityDescription {
    background-color: pink;
    text-align: left;
    border: none;
    border-left-style: solid;
    border-left-width: 3pt;
    border-left-color: #73BBAF;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-line;
    resize: none;
    outline-color: #D17C7C;
}
#activityDescription::-webkit-scrollbar-track {
    background-color: #F6A2B1;
}
#activityDescription::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
#activityDescription::-webkit-scrollbar-thumb {
    background-color: #73BBAF;
}
#activityDate{
    margin-top:3pt;
}
#votePage{
    overflow-y: auto;
    overflow-x: hidden;
}

/* Vote page in Activity */
#votePage img:hover{
    opacity: 0.5;
}
#votePage .title:hover{
    color:#CDA7A7;
}
#votePage .title.active{
    color:#9E2F2F;
}
#votedPage button{
    cursor: default;
}
/* VotePage add options input */
input[type=text] {
    border:1px solid #CCB7B7;
    color:black;
    font-size: 10pt;
    padding: 6pt;
    width:50pt;
    height:23pt;
    border-radius: 2pt;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
    width: 70%;
}
/* Controller */
#controller {
    background-color: orange;
    border-radius: 5pt;
    border-width: 1pt;
    text-align: right;
}
/* Chatting sight */
#chatboard {
    position:relative;
    padding: 0;
    text-align: left;
    background-color: #E8E8F3;
    border-radius: 10pt 0 0 10pt;
    display: block;
    flex-direction: column;
}
#chatsight{
    overflow-y: auto;
    overflow-x: hidden;
}
/* global scrollbar setting */
::-webkit-scrollbar-track {
    background-color: #F6A2B1;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #73BBAF;
}



#addOption {
    margin:7pt 0 3pt 0;
    height:5%;
    width: 75%;
}
#removeVote {
    width: 22%;
    margin:7pt 0 3pt 0;
}

/* vote modal */
div > .choose:hover{
    background-color: #F2F2F7;
    cursor: pointer;
}
#chatremove {
    background-color: rgba(120,120,120, 0);
    border: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
}
#optionremove {
    background-color: rgba(120,120,120, 0);
    border: 0px;
    width: 25px;
    height: 40px;
    text-align: center;
    float: right;
}

/* Calendar */
#calendar {
    background-color: white;
    border-radius: 5pt;
}
/* labels on calendar */
#monthLabel{
    float: left;
    overflow: hidden;
    text-align: justify;
}
#monthLabel > a{
    margin:0 auto;
    margin-left: -1pt;
}
#monthLabel > i{
    cursor: pointer;
}

.bottom-radius{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/*  calendar content basic setting */
#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#calendar li {
    display: block;
    float: left;
    width: 14.36%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;
}
#calendar ul.weekdays {
    background: pink;
    cursor: default;
}
#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    border: none !important;
    color: #fff;
}

/*  days normal look */
.days {
    text-align: left;
    color: #355261;
    font-family: sans-serif;
}

.days:hover {
    color: white;
    background-color: #85B3E4;
    cursor: pointer;
}

/* special days color */
.today{
    color:#000000;
    font-weight: bold;
    background-color: #7AC5DE;
}
.choosedays{
    background-color: #ECF0CC;
}
.eventDays{
    background-color: #ECCCF0;
}
.ays{
    background-color: #ECF0CC;
}
.disabledDays {
    color: #E2DDDD;
    background-color: #C0B5C0;
}
.disabledDays:hover {
    color: #E2DDDD;
    background-color: #C0B5C0;
    cursor: default;
}

/* dots on calendar */
.activityOnCalendar{
    display: table-cell;
    border-radius:100%;
    opacity: 0.8;
}

/* tooltip setting */
.tooltip{
    position: relative;
}
.tooltip .tooltiptext{
    width: 100px;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    width: auto;
    display: table-cell;
    visibility: hidden;
    background-color: #E7E1E1;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute !important;
    z-index: 1;
    bottom: 150%;
    left: 50%;  

}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E7E1E1 transparent transparent transparent;
}

.tooltip.activityOnCalendar:hover .tooltiptext{
    transform: translateX(-50%);
    visibility: visible !important;
}
.show {
    margin-bottom: -10pt;
    transform: translateX(-50%);
    visibility: visible !important;
    cursor: default;
}

/* attend member setting*/
.tooltiptext img:hover{
    opacity: 0.5;
}
.unattend{
    opacity: 0.3;
}

.left-border{
    border-left: solid 1pt;
    border-left-color: black;
}
.right-border{
    border-right: solid 1pt;
    border-right-color: black;
}
.text-hidden{
    overflow: hidden;
}

/*
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}*/

i{
    cursor: pointer;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@keyframes warning{
    0%{
        color: black;
    }
    100%{
        color: red;
    }
}

.warn{
    animation: warning 1.3s 2 alternate;
}

/*dropdown style setting*/
.ui.multiple.search.dropdown>.text{ margin: .45240952em 0 .45240952em 1.7em;}
.ui.multiple.search.dropdown>input.search{margin: .45240952em 0 .45240952em 0;}
.ui.selection.dropdown{ min-height: 2em; }
.ui.multiple.dropdown{ padding: 0 2.1em 0 .35714286em; }

/*music player*/
#player {
    background-color: rgb(230,255,200);
    border-radius: 5pt;
}
button.ui.green.button i.backward.icon{
    position: relative;
    top:-10px;
    right: 10px;
}
button.ui.green.button i.forward.icon{
    position: relative;
    top:-10px;
    right: 5px;
}
