body {
    padding: 5pt;
    text-align: center;
    font-family: sans-serif, "Microsoft JhengHei","Heiti TC";
    font-size: 16px;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("/public/images/wood.jpg");
}

span{
    font-family: "Microsoft JhengHei";
    font-weight: bold;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.right {
    text-align: right;
}

/* Activity */
#menu >a.active{
    font-weight: bold;
}
#activity {
    position: relative;
    display: block;
    text-align: left;
    padding: 5pt;
    padding-top: 0;
    background-color: pink;
    height: 473pt;
    width:25%;
    overflow-y: scroll;
    float: left;
    margin-right: 0;
    border-radius: 5pt;
}
#activityTitle {
    text-align: center;
    background-color: !#F6A2B1;
    margin: 20pt 0 10pt 0;
    !border-bottom-style: solid;
    !border-bottom-width: 2pt;
    !padding-bottom: 2pt;
    outline: none;
    font-size: 20pt;
    text-decoration: underline;
}
#activityDescription {
    background-color: pink;
    padding: 5pt 5pt 0 10pt;
    margin: -3pt 0 5pt 0;
    text-align: left;
    border: none;
    border-left-style: solid;
    border-left-width: 3pt;
    border-left-color: #73BBAF;
    width: 100%;
    height: 75pt;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-line;
    resize: none;
    outline-color: #D17C7C;
}
#activityDescription:focus {
    background-color: !#EEB7C0;
}
#activityDescription::-webkit-scrollbar-track {
    background-color: #F6A2B1;
}
#activityDescription::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
#activityDescription::-webkit-scrollbar-thumb {
    background-color: #73BBAF;
    !border: 1px solid #555555;
}
#activityDate{
    margin-top:3pt;
}
#votePage{
    overflow-y: auto;
    overflow-x: hidden;
}

/* Vote page in Activity */
#votePage img:hover{
    opacity: 0.5;
}
#votePage .title:hover{
    color:#CDA7A7;
}
#votePage .title.active{
    color:#9E2F2F;
}

/*  */
#controller {
    margin-left: 28%;
    background-color: orange;
    height: 35pt;
    width: 72%;
    padding: 4pt;
    border-radius: 5pt;
    border-width: 1pt;
    text-align: right;
}


/* Chatting sight */
#chatboard {
    position:relative;
    padding: 0;
    text-align: left;
    margin-top: 10pt;
    float: right;
    background-color: #E8E8F3;
    width: 27%;
    height: 428pt;
    border-radius: 10pt 0 0 10pt;
    display: block;
    flex-direction: column;
}
#chatsight{
    height:92%;
    padding:15pt 10pt 0 10pt;
    overflow-y: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar-track {
    background-color: #F6A2B1;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #73BBAF;
    !border: 1px solid #555555;
}
#chatBox{
    margin:0 auto;
    margin-top: 5pt;
    margin-bottom: 5pt;
    height:5%;
    width:95%;
    }
#chatMsg{
    width: 100%;
}


/* vote modal */
div > .choose:hover{
    background-color: #F2F2F7;
    cursor: pointer;
}
#chatremove {
    background-color: rgba(120,120,120, 0);
    border: 0px;
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
}

#optionremove {
    background-color: rgba(120,120,120, 0);
    border: 0px;
    width: 25px;
    height: 40px;
    text-align: center;
    float: right;
}

/* Calendar */
#calendar {
    margin-left: 27%;
    margin-right: 30%;
    margin-top:30pt;
    background-color: white;
    height: 300pt;
    width: 45%;
    padding:15pt 5pt 5pt 5pt;
    border-radius: 5pt;
    !box-shadow: 2pt 2pt 5pt grey;
}
#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#calendar li {
    display: block;
    float: left;
    width: 14.36%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;
}
#calendar ul.weekdays {
    height: 40px;
    background: pink;
    cursor: default;
}
#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 7px;
    color: #fff;
    font-size: 13px;
}
#day{
    margin:-2px -3px 0 0;
    display: block;
}
.days {
    text-align: left;
    padding: 0pt 3pt;
    font-size: 5pt;
    color: #355261;
    font-family: sans-serif;
    height: 45px;
    background-color: !#F1DEDE;
}
.choosedays{
    background-color: #ECF0CC;
}
.days:hover {
    color: white;
    background-color: #85B3E4;
    cursor: pointer;
}
.disabledDays {
    color: #E2DDDD;
    background-color: #C0B5C0;
}
.disabledDays:hover {
    color: #E2DDDD;
    background-color: #C0B5C0;
    cursor: default;
}

#monthLabel{
    margin-top: -41.5pt;
    float: left;
    overflow: hidden;
    text-align: justify;
}
#monthLabel > a{
    margin:0 auto;
    margin-left: -1pt;
}
#monthLabel > i{
    cursor: pointer;
}
.monthButton{
    background-color: transparent;
    border:none;
}

#votedPage button{
    cursor: default;
}
.bottom-radius{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.today{
    color:#000000;
    font-weight: bold;
    background-color: #7AC5DE;
}
.activityOnCalendar{
    transform: translateY(6pt);
    display: table-cell;
    width: 8pt;
    height: 8pt;
    border-radius:100%;
    opacity: 0.8;
}
.tooltip{
    position: relative;
}
.tooltip .tooltiptext{
    width: 100px;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    width: auto;
    display: table-cell;
    visibility: hidden;
    background-color: #E7E1E1;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute !important;
    z-index: 1;
    bottom: 150%;
    left: 50%;  

}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E7E1E1 transparent transparent transparent;
}

.tooltip.activityOnCalendar:hover .tooltiptext{
    transform: translateX(-50%);
    visibility: visible !important;
}
.show {
    margin-bottom: -10pt;
    transform: translateX(-50%);
    visibility: visible !important;
    cursor: default;
}
.tooltiptext img:hover{
    opacity: 0.5;
}
.unattend{
    opacity: 0.3;
}

.left-border{
    border-left: solid 1pt;
    border-left-color: black;
}
.right-border{
    border-right: solid 1pt;
    border-right-color: black;
}
.text-hidden{
    overflow: hidden;
}
/*  not use  */
#voteBoard {
    margin-top: 10pt;
    margin-left: 28%;
    background-color: #CFDEEF;
    height: 120pt;
    width: 43%;
    border-radius: 3pt;
}

.timetag:active{
  transform: translate(1px,1px);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
i{
    cursor: pointer;
}
input[type=text] {
    border:1px solid #CCB7B7;
    color:black;
    font-size: 10pt;
    padding: 6pt;
    width:70pt;
    height:23pt;
    border-radius: 2pt;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
@keyframes warning{
    0%{
        color: black;
    }
    100%{
        color: red;
    }
}

.warn{
    animation: warning 1.3s 2 alternate;
}

/*dropdown style setting*/
.ui.multiple.search.dropdown>.text{ margin: .45240952em 0 .45240952em 1.7em;}
.ui.multiple.search.dropdown>input.search{margin: .45240952em 0 .45240952em 0;}
.ui.selection.dropdown{ min-height: 2em; }
.ui.multiple.dropdown{ padding: 0 2.1em 0 .35714286em; }
