body {
    padding: 10pt;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("/public/images/wood.jpg");
   ! opacity: 0.8;
}

#activityList {
    height: 470pt;
    width: 25%;
    float: left;
    background-color: #EAF2EE;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5pt 5pt 5pt 5pt;
    text-align: left;
    border-radius: 5pt;
    border-width: 1pt;
    border-style: solid;
}

#control {
    margin-left: 28%;
    background-color: orange;
    height: 35pt;
    width: 72%;
    padding: 4pt;
    border-radius: 5pt;
    border-width: 1pt;
    text-align: right;
}

#month {
    font-size: 20pt;
    color: orange;
    text-align: left;
    margin-bottom: 3pt;
}

#calendar {
    margin-left: 28%;
    margin-right: 30%;
    background-color: white;
    height: 275pt;
    width: 43%;
    padding: 10pt;
    border-radius: 10pt;
}
#upcomingActivity {
    margin-left: 28%;
    margin-right: 30%;
    background-color: teal;
    height: 140pt;
    width: 43%;
    border-radius: 10pt;
}
#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#day{
    margin:-2px -4px 0 0;
}
#calendar li {
    display: block;
    float: left;
    width: 14.36%;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
}

#calendar ul.weekdays {
    height: 40px;
    background: pink;
}

#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    border: none !important;
    padding: 10px 7px;
    color: #fff;
    font-size: 13px;
}

#calendar .days li {
    color: #220A0A;
    font-family: sans-serif;
    height: 45px;
}

#calendar .days li:hover {
    background: #d3d3d3;
}

.disabledDays{
	color:#48A3A7;
	background-color:#C0B5C0;
}


#invite {
    margin-top: 20pt;
    float: right;
    background-color: pink;
    width: 25%;
    height: 400pt;
    border-radius: 10pt;
}

::-webkit-scrollbar {
    display: none;
}

.monthButton{
	margin: 0;
	padding: 0;
	border:none;
	background-color: white;
	outline:none;
}