body {
    padding: 10pt;
    padding-left: 20pt;
    text-align: center;
    font-family: sans-serif;
    font-size: 16px;
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)),url("/public/images/wood.jpg");
}

#activityList {
    height: 475pt;
    width: 250pt;
    float: left;
    padding: 5pt;
}
#control {
    height: 35pt;
    margin-left: 270pt;
    width: 650pt;
    padding: 4pt;
}
#calendar {
    margin-left:20pt;
    float:left;
    height: 300pt;
    width: 460pt;
    margin-top:30pt;
    padding:15pt 5pt 5pt 5pt;
}
#calendar ul.weekdays {
    height: 40px;
}
#calendar ul.weekdays li {
    line-height: 20px;
    padding: 10px 7px;
    font-size: 13px;
}
#monthLabel{
    margin-top: -41.5pt;
}
#day{
    margin:-2px -3px 0 0;
    display: block;
}
.days {
    padding: 0pt 3pt;
    font-size: 5pt;
    height: 45px;
}
.activityOnCalendar{
    transform: translateY(6pt);
    width: 8pt;
    height: 8pt;
}

#personalinfo {
    margin-top: 25pt;
    margin-left:720pt;
    width: 220pt;
    height: 390pt;
    padding: 20pt;
    padding-top: 5pt;
}
#player {
    margin-top:-80pt;
    margin-left:270pt;
    width:460pt;
    height:95pt;
    padding: 5pt;
}

@media screen and (max-width: 1260px){
    body{
        padding-left: 40pt;
    }
    #activityList {
        height: 450pt;
        width: 210pt;
        float: left;
        padding: 5pt;
    }

    #control {
        height: 35pt;
        margin-left: 220pt;
        width: 540pt;
        padding: 4pt;
    }
    #calendar {
        margin-left:10pt;
        float:left;
        height: 260pt;
        width: 360pt;
        margin-top:30pt;
        padding:15pt 5pt 5pt 5pt;
    }
    #calendar ul.weekdays {
        height: 40px;
    }
    #calendar ul.weekdays li {
        line-height: 10px;
        padding: 10px 7px;
        font-size: 13px;
    }
    #monthLabel{
        margin-top: -41.5pt;
    }
    #day{
        margin:-2px -3px 0 0;
        display: block;
    }
    .days {
        padding: 0pt 3pt;
        font-size: 5pt;
        height: 40px;
    }
    .activityOnCalendar{
        transform: translateY(3pt);
        width: 6pt;
        height: 6pt;
    }
    #personalinfo {
        margin-top: 25pt;
        margin-left:580pt;
        width: 200pt;
        height: 240pt;
        padding: 20pt;
        padding-top: 5pt;
    }
    #player {
        margin-top:50pt;
        margin-left:220pt;
        width:360pt;
        height:95pt;
        padding: 5pt;
    }

}
/* phone */
@media screen and (max-width:480px){}
/* pad */
@media screen and (min-width:481px) and (max-width:768px){}

@media screen and (max-width: 1080px){
    body{
        padding-left: 10pt;
    }
    #activityList {
        height: 450pt;
        width: 200pt;
        float: left;
        padding: 5pt;
    }

    #control {
        height: 35pt;
        margin-left: 210pt;
        width: 530pt;
        padding: 4pt;
    }
    #calendar {
        margin-left:10pt;
        float:left;
        height: 260pt;
        width: 360pt;
        margin-top:30pt;
        padding:15pt 5pt 5pt 5pt;
    }
    #calendar ul.weekdays {
        height: 40px;
    }
    #calendar ul.weekdays li {
        line-height: 10px;
        padding: 10px 7px;
        font-size: 13px;
    }
    #monthLabel{
        margin-top: -41.5pt;
    }
    #day{
        margin:-2px -3px 0 0;
        display: block;
    }
    .days {
        padding: 0pt 3pt;
        font-size: 5pt;
        height: 40px;
    }
    .activityOnCalendar{
        transform: translateY(3pt);
        width: 6pt;
        height: 6pt;
    }
    #personalinfo {
        margin-top: 25pt;
        margin-left:560pt;
        width: 200pt;
        height: 240pt;
        padding: 20pt;
        padding-top: 5pt;
    }
    #player {
        margin-top:50pt;
        margin-left:210pt;
        width:360pt;
        height:95pt;
        padding: 5pt;
    }

}

#activityList {
    background-color: #EAF2EE;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: left;
    border-radius: 5pt;
    border-width: 1pt;
    border-style: solid;
}

#control {
    background-color: orange;
    border-radius: 5pt;
    border-width: 1pt;
    text-align: right;
}
/* Calendar */
#calendar {
    background-color: white;
    border-radius: 5pt;
    border-width: 1pt;
}
/* labels on calendar */
#monthLabel{
    float: left;
    overflow: hidden;
    text-align: justify;
}
#monthLabel > a{
    margin:0 auto;
    margin-left: -1pt;
}
#monthLabel > i{
    cursor: pointer;
}
.bottom-radius{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#dateinfo > i{
    cursor: pointer;
}

/*  calendar content basic setting */
#calendar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
#calendar li {
    display: block;
    float: left;
    width: 14.36%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-right: -1px;
    margin-bottom: -1px;
    position: relative;
}
#calendar ul.weekdays {
    background: pink;
    cursor: default;
}
#calendar ul.weekdays li {
    text-align: center;
    text-transform: uppercase;
    border: none !important;
    color: #fff;
}
/*  days normal look */
.days {
    text-align: left;
    color: #355261;
    font-family: sans-serif;
}
.days:hover {
    color: white;
    background-color: #85B3E4;
    cursor: pointer;
}
/* special days color */
.today{
    color:#000000;
    font-weight: bold;
    background-color: #7AC5DE;
}
.choosedays{
    background-color: #ECF0CC;
}
.eventDays{
    background-color: #ECCCF0;
}
.ays{
    background-color: #ECF0CC;
}
.disabledDays {
    color: #E2DDDD;
    background-color: #C0B5C0;
}
.disabledDays:hover {
    color: #E2DDDD;
    background-color: #C0B5C0;
    cursor: default;
}
/* dots on calendar */
.activityOnCalendar{
    display: table-cell;
    border-radius:100%;
    opacity: 0.8;
}
/* tooltip setting */
.tooltip{
    position: relative;
}
.tooltip .tooltiptext{
    width: 100px;
    min-width: 100px;
    max-width: 500px;
    height: auto;
    width: auto;
    display: table-cell;
    visibility: hidden;
    background-color: #E7E1E1;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute !important;
    z-index: 1;
    bottom: 150%;
    left: 50%;  
}
.tooltip .tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #E7E1E1 transparent transparent transparent;
}
.tooltip.activityOnCalendar:hover .tooltiptext{
    transform: translateX(-50%);
    visibility: visible !important;
}
.show {
    margin-bottom: -10pt;
    transform: translateX(-50%);
    visibility: visible !important;
    cursor: default;
}
/* attend member setting*/
.tooltiptext img:hover{
    opacity: 0.5;
}
.unattend{
    opacity: 0.3;
}

#personalinfo {
    background-color: transparent;
    border-radius: 10pt;
}

::-webkit-scrollbar {
    display: none;
}


/*music player*/

#player {
    background-color: rgb(230,255,200);
    border-radius: 5pt;
}
button.ui.green.button i.backward.icon{
    position: relative;
    top:-10px;
    right: 10px;
}
button.ui.green.button i.forward.icon{
    position: relative;
    top:-10px;
    right: 5px;
}